<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tilesimageview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6183BE3B1D01545C008A61E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6183BE571D01545C008A61E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6183BE621D01545D008A61E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
